body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #F1F1F1;
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.zipcode{
     width: 20%;
}
/* Set a style for all buttons */
/*button {*/
  /*background-color: #0070FF;*/
  /*color: white;*/
  /*padding: 14px 20px;*/
  /*margin: 8px 0;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*width: 100%;*/
  /*opacity: 0.9;*/
/*}*/
button{
    background-color: #0F639C;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #F44336;
}
.signupbtn {
  padding: 14px 20px;
    color: #FEFEFE;
  background-color: rgb(14, 107, 161);
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.cancelbtn1 {
  padding: 14px 20px;
    color: #000000;
  background-color: rgba(255, 255, 255, 0.54);
}
.signupbtn1 {
  padding: 14px 20px;
    color: #6B6B6B;
  background-color: rgb(191, 191, 191);
}
.cancelbtn2 {
  padding: 14px 20px;
    color: #6B6B6B;
  background-color: rgb(191, 191, 191);
}
.signupbtn2 {
  padding: 14px 20px;
    color: #000000;
  background-color: rgba(255, 255, 255, 0.54);
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn1, .signupbtn1 {
  float: left;
  width: 50%;
}
.cancelbtn2, .signupbtn2 {
  float: left;
  width: 50%;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}
/*!* The Modal (background) *!*/
/*{#.modal {#}*/
/*{#  display: none; !* Hidden by default *!#}*/
/*{#  position: fixed; !* Stay in place *!#}*/
/*{#  z-index: 1; !* Sit on top *!#}*/
/*{#  left: 0;#}*/
/*{#  top: 0;#}*/
/*{#  width: 100%; !* Full width *!#}*/
/*{#  height: 100%; !* Full height *!#}*/
/*{#  overflow: auto; !* Enable scroll if needed *!#}*/
/*{#  background-color: #474E5D;#}*/
/*{#  padding-top: 50px;#}*/
/*{#}#}*/
/* Modal Content/Box */
.modal-content {
  background-color: #FEFEFE;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #F1F1F1;
  margin-bottom: 25px;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #F1F1F1;
}
.close:hover,
.close:focus {
  color: #F44336;
  cursor: pointer;
}
/* Clear floats */
.clearfix::after {
  content: “”;
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 200px) {
  .cancelbtn, .signupbtn {
     width: 50%;
  }
}
    @media screen and (max-width: 300px) {
  .cancelbtn1, .signupbtn1 {
     width: 50%;
  }
}
        @media screen and (max-width: 300px) {
  .cancelbtn2, .signupbtn2 {
     width: 50%;
  }
}
