
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>ConsumerAffairs.com/</title>
</head>
<header >
    <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#"><img src="/static/img/ca_logo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Buyers Guide<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                  </li>
                </ul>
                  <ul class = "navbar-nav ml-auto">
                      <li class="nav-link">
                          <a class= "nav-link" href="#">LOG IN</a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" onclick = "searchClick()" href="#"><span class="glyphicon glyphicon-search"></span></a>

                      </li>
                      <li class="nav-link">
                          <button class="btn1 btn-outline-success my-2 my-sm-0" type="submit">WRITE A REVIEW</button>
                      </li>
                  </ul>
              </div>
            </nav>
  </header>
<h2 class="js-form-title js-title questionflow__title" style="box-sizing: border-box; line-height: 1.2; font-size: 2rem; position: relative; z-index: 1; text-align: left; font-weight: 700; margin: 0px; width: 511.188px; color: rgb(0, 0, 0); padding-top: 2rem; padding-bottom: 0px; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Get Help Repairing Your Credit in 2019!</h2>

<div class="container">
    <div class="row justify-content-md-center">
  <div class="card " style="width: 18rem;">
  <div class="card-body"  style="text-align: center">
    <h5 class="card-title"  style="text-align: center">Discover the right credit repair company for you</h5>
    <p class="card-text"  style="text-align: center">We'll match you with right company that knows you need</p>
      <a href="#" class="btn btn-primary"  style="text-align: center" onclick="location.href='/Q1'"class="btn btn-primary btn-lg">FIND MY MATCH PLAN A</a>
      <a href="#" class="btn btn-primary"  style="text-align: center" onclick="location.href='/Q2'"class="btn btn-primary btn-lg">FIND MY MATCH PLAN B</a>

  </div>
    </div>
  </div>
</div>





</html>