<!DOCTYPE html>
<html>


<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/temp.css') }}">

      <!--<script src="{{url_for('static',filename='js/JavaScript.js')}}"></script>-->
<script src="{{url_for('static',filename='js/script.js')}}"></script>
  <title>ConsumerAffairs.com/</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#">
                  <img src="../static/img/ca_logo.png">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Buyers Guide<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                  </li>
                </ul>
                  <ul class = "navbar-nav ml-auto">
                      <li class="nav-link">
                          <a class= "nav-link" href="#">LOG IN</a>
                      </li>
                      <li class="nav-link">
                        <a class="nav-item" onclick = "searchClick()" href="#"><span class="glyphicon glyphicon-search"></span></a>

                      </li>
                      <li class="nav-link">
                          <button class="btn1 btn-outline-success my-2 my-sm-0" type="submit">WRITE A REVIEW</button>
                      </li>
                  </ul>
              </div>
            </nav>
  </header>

<div Id="question1" style="display:block" >
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    <img style="float: right;" alt="" src="static/img/credit-card-debt.54ceb19ed970.jpg"
         width="500" height="600"
    >
    <div style="width: 1000px; margin:0 auto;" >
<h2 class="js-form-title js-title questionflow__title" style="box-sizing: border-box; line-height: 1.2; font-size: 2rem; position: relative; z-index: 1; text-align: left; font-weight: 700; margin: 0px; width: 511.188px; color: rgb(0, 0, 0); padding-top: 2rem; padding-bottom: 0px; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Get Help Repairing Your Credit in 2019!</h2>

<p class="js-title-description questionflow__title-dsc" style="box-sizing: border-box; color: rgb(0, 0, 0); font-weight: 400; font-size: 1.5rem; text-align: left; width: 511.188px; margin-top: 2rem; margin-bottom: 1rem; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">I care most about...</p>
<div class="js-form-group js-form-checkbox questionflow__checkbox-group" style="box-sizing: border-box; width: 511.188px; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
  <!--<p class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px; text-align: center; color: rgb(149, 149, 149); font-weight: 400; font-size: 1.5rem;">Select all that apply</p>-->
</div>
<p class="js-title js-checkbox-title questionflow__chkbx-ttl">Select all that apply</p>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1"  onclick="myFunction1()" >
  <label class="custom-control-label" for="customCheck1">Buying A Home</label>

</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck2"  onclick="myFunction2()">
  <label class="custom-control-label" for="customCheck2">Buying A Car</label>

</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck3"   onclick="myFunction3()">
  <label class="custom-control-label" for="customCheck3">Refinancing A Loan</label>

</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck4"  onclick="myFunction4()">
  <label class="custom-control-label" for="customCheck4">Not Sure/ Other</label>
<p></p>
</div>
    <button type="button" onclick="myFunction1to2()"class="btn btn-primary btn-lg" >Continue</button>
    </div>



</div>





























<div Id="question2" style="display:none">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    <img style="float: right;" alt="" src="static/img/score.f9ecd2a5cb55.jpg"
         width="500" height="600"
    >
    <div style="width:1000px; margin:0 auto;" >
<h2 class="js-form-title js-title questionflow__title" style="box-sizing: border-box; line-height: 1.2; font-size: 2rem; position: relative; z-index: 1; text-align: left; font-weight: 700; margin: 0px; width: 511.188px; color: rgb(0, 0, 0); padding-top: 2rem; padding-bottom: 0px; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Get Help Repairing Your Credit in 2019!</h2>
<p class="js-title-description questionflow__title-dsc" style="box-sizing: border-box; color: rgb(0, 0, 0); font-weight: 400; font-size: 1.5rem; text-align: left; width: 511.188px; margin-top: 2rem; margin-bottom: 1rem; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">What is your credit score?</p>
<div class="js-form-group js-form-checkbox questionflow__checkbox-group" style="box-sizing: border-box; width: 511.188px; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
  <!--<p class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px; text-align: center; color: rgb(149, 149, 149); font-weight: 400; font-size: 1.5rem;">Select all that apply</p>-->
</div>
<div class="js-form-group js-form-checkbox questionflow__checkbox-group" style="box-sizing: border-box; width: 511.188px; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">

<select class="custom-select" id="selectScore" name="credit_score" data-type="string" data-group="" required="" >
    <option value="">Select your score...</option>
    <option value="poor"  >300-579 Needs Work</option>
    <option value="fair"  >580-669 Fair</option>
    <option value="good " >670-739 Good</option>
    <option value="excellent" >740-850 Excellent</option>
    <option value="not_sure"  >Not Sure</option>
</select>

{#<button type="button" onclick="myFunction5()"class="btn btn-primary btn-lg" >check</button>#}
<p></p>
<button type="button" onclick="myFunction2to3() , myFunction5()"class="btn btn-primary btn-lg" >Continue</button>
</div>
    </div>
</div>













<div Id="question3" style="display:none">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    <img style="float: right;" alt="" src="static/img/behind.a11db2da3c2c.jpg"
         width="500" height="600"
    >
    <div style="width:1000px; margin:0 auto;" >
<h2 class="js-form-title js-title questionflow__title" style="box-sizing: border-box; line-height: 1.2; font-size: 2rem; position: relative; z-index: 1; text-align: left; font-weight: 700; margin: 0px; width: 511.188px; color: rgb(0, 0, 0); padding-top: 2rem; padding-bottom: 0px; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Get Help Repairing Your Credit in 2019!</h2>
<p class="js-title-description questionflow__title-dsc" style="box-sizing: border-box; color: rgb(0, 0, 0); font-weight: 400; font-size: 1.5rem; text-align: left; width: 511.188px; margin-top: 2rem; margin-bottom: 1rem; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">How many negative items are on your credit score?</p>
<div class="js-form-group js-form-checkbox questionflow__checkbox-group" style="box-sizing: border-box; width: 511.188px; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
  <p class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px;color: rgb(149, 149, 149); font-weight: 400; font-size: 1.0rem;">This may include delinquent accounts, collections, foreclosures, tax liens, and other items that negatively impact your credit history.</p>
    <select class="custom-select" name="report_items" data-type="string" data-group="" required="">
                    <option value="">My credit report shows...</option>
                    <option value="zero">0 Items</option>
                    <option value="five">1 - 5 Items</option>
                    <option value="ten">6 - 10 Items</option>
                    <option value="more">More than 10 Items</option>
                    <option value="not_sure">Not Sure</option>
    </select>
<p></p>

{#    <button type="button" onclick="myFunction6()"class="btn btn-primary btn-lg" >check</button>#}
<button type="button" onclick="myFunction3to4(), myFunction6()"class="btn btn-primary btn-lg" >Continue</button>
</div>
</div>


</div>





    <div Id="question4" style="display:none">
    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
        <img style="float: right;" alt="" src="static/img/location.e0e4856b3ead.jpg"
             width="500" height="600"
    >
        <div style="width:1000px; margin:0 auto;" >
<h2 class="js-form-title js-title questionflow__title" style="box-sizing: border-box; line-height: 1.2; font-size: 2rem; position: relative; z-index: 1; text-align: left; font-weight: 700; margin: 0px; width: 511.188px; color: rgb(0, 0, 0); padding-top: 2rem; padding-bottom: 0px; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Get Help Repairing Your Credit in 2019!</h2>
<p class="js-title-description questionflow__title-dsc" style="box-sizing: border-box; color: rgb(0, 0, 0); font-weight: 400; font-size: 1.5rem; text-align: left; width: 511.188px; margin-top: 2rem; margin-bottom: 1rem; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">What is your Zip Code?</p>
              <p class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px; color: rgb(149, 149, 149); font-weight: 400; font-size: 1.0rem;">Not all companies offer services in all states. We'll match you with a company in your area.</p>

<div class="js-form-group js-form-checkbox questionflow__checkbox-group" style="box-sizing: border-box; width: 511.188px; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
  <!--<p class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px; text-align: center; color: rgb(149, 149, 149); font-weight: 400; font-size: 1.5rem;">Select all that apply</p>-->
</div>

<!--<input class="zip-group__input js-input js-zip-type js-geo-prefilled js-valid-zip" type="text" name="zip" value="Zip Code" data-type="string" data-group="" placeholder="" required="" minlength="">-->
<input type="text" name="textbox1" value="ZIP CODE" id="zipcodebox" />
<p></p>
{#<button type="button" onclick="myFunction7()"class="btn btn-primary btn-lg" >check</button>#}
<button type="button" onclick="myFunction4toR(), myFunction7(), myFunction8()" class="btn btn-primary btn-lg" >Continue</button>
    </div>
    </div>









{#<div Id="result" style="display:none">#}
{#<div class="progress">#}
{#  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>#}
{#</div>#}
{#    <img style="float: right;" alt="" src="static/img/debt-relief-match.9ed5e3658962.jpg"#}
{#         width="500" height="600"#}
{#    >#}
{#    <div style="width:1000px; margin:0 auto;" >#}
{#<h2 class="js-form-title js-title questionflow__title" style="box-sizing: border-box; line-height: 1.2; font-size: 2rem; position: relative; z-index: 1; text-align: left; font-weight: 700; margin: 0px; width: 511.188px; color: rgb(0, 0, 0); padding-top: 2rem; padding-bottom: 0px; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Get Help Repairing Your Credit in 2019!</h2>#}
{#<p class="js-title-description questionflow__title-dsc" style="box-sizing: border-box; color: rgb(0, 0, 0); font-weight: 400; font-size: 1.5rem; text-align: left; width: 511.188px; margin-top: 2rem; margin-bottom: 1rem; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">You've been matched!</p>#}
{#<div class="js-form-group js-form-checkbox questionflow__checkbox-group" style="box-sizing: border-box; width: 511.188px; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">#}
{#  <p id="p3" class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px; text-align: left; color: rgb(149, 149, 149); font-weight: 400; font-size: 1.3rem;"> based on your situation we found 3 out of 53 companies are best for you!</p>#}
{#      <p class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px; text-align: center; color: rgb(149, 149, 149); font-weight: 400; font-size: 0.5rem;"> By clicking the button “SHOW ME MY MATCH”, I agree ConsumerAffairs and/or the Brand I am matched with can communicate with me by email, text or phone only at the number I have provided, including through automated and/or pre-recorded calls and texts, even if it's a wireless number or if you have registered with a Do Not Call list. Msg & data rates may apply. I understand that any business conducted is between myself and the Brand I am matched with and that I am not required to make any purchase as a condition of submitting this form. I also agree to the ConsumerAffairs Terms of Use and Privacy Policy, including the use of an electronic record of this agreement.</p>#}
{##}
{#</div>#}
{##}
{#  <div id="target-id"></div>#}
{#        <form>#}
{#  <div class="form-row">#}
{#    <div class="col">#}
{#      <input type="text" class="form-control" placeholder="First name">#}
{#    </div>#}
{#    <div class="col">#}
{#      <input type="text" class="form-control" placeholder="Last name">#}
{#    </div>#}
{#  </div>#}
{#</form>#}
{#        <p></p>#}
{#        <form>#}
{#  <div class="form-row">#}
{#    <div class="col">#}
{#      <input type="text" class="form-control" placeholder="Email">#}
{#    </div>#}
{#    <div class="col">#}
{#      <input type="text" class="form-control" placeholder="Phone number">#}
{#    </div>#}
{#  </div>#}
{#</form>#}
{##}
{##}
{#        <form>#}
{#               <p></p>#}
{#  <div class="form-group form-check">#}
{#    <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#    <label class="form-check-label" for="exampleCheck1">Create an account for personalize experience</label>#}
{#  </div>#}
{#<button type="button" onclick="location.href='/result'"class="btn btn-primary btn-lg" >Check my Result</button>#}
{#</form>#}
{##}
{##}
{##}
{#<form>#}
{#  <div class="form-row">#}
{#    <div class="col">#}
{#      <input type="text" class="form-control" placeholder="First name">#}
{#    </div>#}
{#    <div class="col">#}
{#      <input type="text" class="form-control" placeholder="Last name">#}
{#    </div>#}
{#  </div>#}
{#</form>#}
{#<form>#}
{#  <div class="form-group">#}
{#    <label for="formGroupExampleInput"></label>#}
{#    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Phone Number">#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="formGroupExampleInput2"></label>#}
{#    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">#}
{#  </div>#}
{#</form>#}
{##}
{##}
{#<button type="button" onclick="myFunction8()"class="btn btn-primary btn-lg" >check</button>#}
{##}
{#</div>#}
{##}
{# <p id="p3"></p>#}
</div>

<div Id="result" style="display:none">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    <img style="float: right;" alt="" src="static/img/debt-relief-match.9ed5e3658962.jpg"
         width="500" height="600"
    >
    <div style="width:1000px; margin:0 auto;" >
<h2 class="js-form-title js-title questionflow__title" style="box-sizing: border-box; line-height: 1.2; font-size: 2rem; position: relative; z-index: 1; text-align: left; font-weight: 700; margin: 0px; width: 511.188px; color: rgb(0, 0, 0); padding-top: 2rem; padding-bottom: 0px; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Get Help Repairing Your Credit in 2019!</h2>
<p class="js-title-description questionflow__title-dsc" style="box-sizing: border-box; color: rgb(0, 0, 0); font-weight: 400; font-size: 1.5rem; text-align: left; width: 511.188px; margin-top: 2rem; margin-bottom: 1rem; font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">You've been matched! <img src ="static/img/blurry.png" style="margin-left: 35px" width="200" height="100">
<div class="js-form-group js-form-checkbox questionflow__checkbox-group" style="box-sizing: border-box; width: 511.188px; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
  <p id="p3" class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin: 0px; padding: 10px 0px; text-align: left; font-weight: 400; font-size: 1.3rem;"> based on your situation we found 3 out of 53 companies are best for you!</p>
<div id="target-id"></div>
        <form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>
        <p></p>
        <form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Phone number">
    </div>
  </div>
</form>


        <form>
               <p></p>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Create an account for personalize experience</label>
  </div>
</form>
        <p></p>
        <div  style = "text-align: center; margin-bottom: 15px" >
            <button type="button" onclick="openForm()"class="btn btn-primary btn-lg" >SHOW ME MY MATCH</button>

<!-- <button type="button" onclick="location.href='/result'"class="btn btn-primary btn-lg" >SHOW ME MATCH</button> -->
        </div>
      <p class="js-title js-checkbox-title questionflow__chkbx-ttl" style="box-sizing: border-box; margin-top: 0px; padding: 10px 0px; color: rgb(149, 149, 149); font-weight: 400; font-size: 0.5rem;"> By clicking the button “SHOW ME MY MATCH”, I agree ConsumerAffairs and/or the Brand I am matched with can communicate with me by email, text or phone only at the number I have provided, including through automated and/or pre-recorded calls and texts, even if it's a wireless number or if you have registered with a Do Not Call list. Msg & data rates may apply. I understand that any business conducted is between myself and the Brand I am matched with and that I am not required to make any purchase as a condition of submitting this form. I also agree to the ConsumerAffairs Terms of Use and Privacy Policy, including the use of an electronic record of this agreement.</p>

</div>

  <div id="target-id"></div>





 <p id="p3"></p>
</div>
<div class="form-popup" id="myForm" style="display:none">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
</html>










<script>

function myFunction1to2() {


  var question1 = document.getElementById("question1");
  var question2 = document.getElementById("question2");

  question1.style.display ="none";
  question2.style.display ="block";

}
function remove() {


  var question1 = document.getElementById("question1");
  question1.style.display ="none";

}
function myFunction2to3() {


  var question2 = document.getElementById("question2");
  var question3 = document.getElementById("question3");

  question2.style.display ="none";
  question3.style.display ="block";

}
function myFunction3to4() {


  var question3 = document.getElementById("question3");
  var question4 = document.getElementById("question4");

  question3.style.display ="none";
  question4.style.display ="block";

}
function myFunction4toR() {


  var question4 = document.getElementById("question4");
  var result = document.getElementById("result");

  question4.style.display ="none";
  result.style.display ="block";

}
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>