body{
    /*box-sizing: border-box;*/
    /*height: 100%;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
 /*//   background-color: #EAF6FA;*/

}
.navbar {
    background-color: #EAF6FA;
    grid-area: h;
}


.navbar a {
    display: block;
  float: left;
  font-family: Helvetica;
  font-size:16px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 30px;
}
.navbar a:hover {
    color: #005175;
}

.nav-item {
    float: right;
}

.rightnav {

}
.btn1 {
  background-color: #0177c0;
  border: none;
  color: white;
  padding: 12px 20px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
}

.btn2 {
    background-color: #0177c0;
      border: none;
      color: white;
      padding: 12px 20px;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      display: table-cell;
      font-size: 14px;
      border-radius: 3px;
      font-family: Arial;
    vertical-align: bottom;

}

.btn:hover {
  background-color: #005175;
  color: white;
}

.matchingtool {
    width: 100%;
    height: 200px;
    display: table;
    position: relative;
    text-align: center;
    margin-right: 15px;
    margin-left: 20px;
}

.todo {
    width: 100%;
    height: 433px;
    display: table;
    position: relative;

    margin-right: 15px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;

    font-family: Helvetica;
    background-color: #ebebeb;
    border-radius: 10px;
}
.matchingtool::after {
    content: "";
    background: url(img/personalization.jpg);
    opacity: 0.20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   position: absolute;
   z-index: -1;
}

.dailytip {
    width: 100%;
    height: 200px;
    margin-right: 20px;
    margin-left: 0px;
    text-align: center;
    margin-top: 30px;

}

.categories {
    width: 100%;
    height: 275px;
    display: table;
    position: relative;
    text-align: center;
    background-color: #ebebeb;
    border-radius: 10px;

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.saveditems {
    width: 100%;
    height: 150px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.topitems {
    width: 100%;
    height: 150px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.spaceholder {
    width:100%;
    height: 175px;
}

.list {
    width: 100%;
    height: 350px;
    padding: 10px;
}

.addremove {
    width: 100%;
    height: 50px;
    display: table;
    position: relative;
    text-align: center;
}

.mttext {
    width: 100%;
    height: 100px;
}

.mt {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.top-buffer {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.row-whith-wide-cards .card {
  width: 100%;
}

.listpad {
    margin-left: 0px;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}


